# Application
SITE_URL=https://tusitio.example.com

# Analytics
NUXT_UMAMI_HOST=https://analytics.example.com
NUXT_UMAMI_ID=00000000-0000-0000-0000-000000000000

# Mail
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=usuario_ejemplo
SMTP_PASS=contraseña_ejemplo
SMTP_FROM_EMAIL=remitente@example.com
SMTP_TO_EMAIL=destinatario@example.com

# Deployment
VPS_HOST=usuario@vps.example.com
REMOTE_DIR=/ruta/remota/ejemplo
